li.danger0 {
    border-left: 5px solid #00FF00;
}
li.danger1 {
    border-left: 5px solid #00FF00;
}
li.danger2 {
    border-left: 5px solid #FF9900;
}
li.danger3 {
    border-left: 5px solid #FF9900;
}
li.danger4 {
    border-left: 5px solid #FF0000;
}
li.danger5 {
    border-left: 5px solid #FF0000;
}
li.danger6 {
    border-left: 5px solid #FF0000;
}
li.danger6 {
    border-left: 5px solid #FF0000;
}


span.danger0 {
    color: #00FF00;
}
span.danger1 {
    color: #00FF00;
}
span.danger2 {
    color: #FF9900;
}
span.danger3 {
    color: #FF9900;
}
span.danger4 {
    color: #FF0000;
}
span.danger5 {
    color: #FF0000;
}
span.danger6 {
    color: #FF0000;
}
span.danger6 {
    color: #FF0000;
}